@use "../../styles/breakpoints.scss" as bp;
@use "../../styles/colors.scss" as color;

.carousel {
  display: flex;
  align-items: center;
  position: relative;

  &__wrapper {
    overflow: hidden;
    margin: 0 70px;
    box-sizing: border-box;
    width: 100%;

    @include bp.respond-to(tablet) {
      margin: 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    min-width: max-content;
    gap: 80px;

    @include bp.respond-to(tablet) {
      padding: 20px;
      gap: 25px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    max-width: 320px;

    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: grab;

    flex-shrink: 0;

    @include bp.respond-to(tablet) {
      max-width: 166px;
    }
  }

  &__next-item {
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;

    @include bp.respond-to(tablet) {
      display: none;
    }
  }

  &__prev-item {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;

    @include bp.respond-to(tablet) {
      display: none;
    }
  }

  &__date {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(56, 119, 238, 1);
    text-align: start;
  }

  &__content {
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    color: rgba(66, 86, 122, 1);
    text-align: start;

    @include bp.respond-to(tablet) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__separator {
    width: calc(100% - 40px);
    height: 1px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(199, 205, 217, 1);
    box-sizing: border-box;
    display: none;

    @include bp.respond-to(tablet) {
      display: block;
    }
  }
}
