@use "../../styles/breakpoints.scss" as bp;
@use "../../styles/colors.scss" as color;

.swiper {
  margin: 0 70px;
  overflow: hidden;

  @include bp.respond-to(tablet) {
    margin: 0px;
  }

  &__wrapper {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
  }

  &__slide {
    max-width: 320px;
    width: 320px;

    flex-shrink: 0;

    @include bp.respond-to(tablet) {
      max-width: 166px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: grab;
  }

  &__next-item {
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;

    @include bp.respond-to(tablet) {
      display: none;
    }
  }

  &__prev-item {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;

    @include bp.respond-to(tablet) {
      display: none;
    }
  }

  &__date {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(56, 119, 238, 1);
    text-align: start;
  }

  &__content {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    color: color.$primary;
    text-align: start;

    @include bp.respond-to(tablet) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__container {
    position: relative;

    display: flex;
    align-items: center;
  }
}
