@use "./styles/breakpoints.scss" as bp;
@use "./styles/colors.scss" as color;

// Макет https://www.figma.com/design/YXCbNT4Jf9INk62BKTZw1z/%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5-%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5?node-id=1-8&node-type=frame&t=2RJtDKCkKc5R0ums-0

.app {
  max-width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;

  flex: 1;
  position: relative;
  max-width: 1440px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border-right: 1px solid color.$primary10;
  border-left: 1px solid color.$primary10;

  min-height: 100%;
  overflow: hidden;

  &::after {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    opacity: 0.1;

    content: "";
    background-color: color.$primary;

    @include bp.respond-to(tablet) {
      display: none;
    }
  }
}
